*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Roboto Slab', serif;
    background-color: rgb(10, 1, 48);
}


.cont_principal{
    margin: auto;
    color: white;
    font-size: 108%;
    min-height: 43em;
    width: 75%;
    text-align: center;
    padding-top: 10%;
    background: no-repeat url(../img/semFundo-2.png) ;
    margin-top: 2%;
    border-radius: 5%;
}

.cont1{
    color: white;
    font-size: 108%;
    width: 100%;
    text-align: center;
    padding: 1%;
    padding-top: 5%;
    min-height: 30em;
    background: linear-gradient(rgba(10, 1, 48, 0.658), rgba(95, 5, 179, 0.966),rgb(10, 1, 48));
    border-radius: 5%;
}

.redes-sociais{
    width: 19%;
    padding-top: 2%;
    height: 100%;
    float: left;   
    min-height: 25em;
}

.redes-sociais a{
    color: black;
}

.redes-sociais svg {
    width: 25%;
}

.gitM{
    margin-bottom: 0%;  
    margin-bottom: 40%;
}

.instaM{
    margin-bottom: 0%;    
    margin-bottom: 40%;
}

.whatsM{
    margin-bottom: 0%;    
    margin-bottom: 40%;
}

.faceM{
    margin-bottom: 0%;   
}

.bi-github:hover{
    color: white;
    transition: 1s;
}

.bi-instagram:hover{
    color: rgb(211, 15, 97);
    transition: 1s;
}

.bi-whatsapp:hover{
    color: rgb(5, 194, 74);
    transition: 1s;
}

.bi-facebook:hover{
    color: rgb(3, 18, 156);
    transition: 1s;
}

.sobre-mim{
    height: 100%;
    width: 79%;
    float: right;
    font-size: 70%;
}

.descricao{
    width: 100%;
    font-size:120%;
    color: black;
}

.btn{
    border:  0px;
    margin: auto;
    margin-top: 1%;
    width: 50%;
    border-radius: 1em;
    background: linear-gradient(345deg, #430e9e, #ff06c1 150% );
    color: black;
}
.btn:hover{
 color: black;
 background: linear-gradient(345deg, #ff06c1,#430e9e 95%);
}
